{% extends 'main.html' %}

{% block title %}Library - Book Loans{% endblock %}
{% block container %}

<h3 class="mb-3">Book Loans</h3>

<table class="table table-striped table-hover" id="bookLoansTable">
    <thead>
        <th>Book name</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Loans count</th>
    </thead>
    <tbody>
    {% for row in data %}
        <tr>
        {% for i in range(4) %}
            <td>{{ row[i] }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
