{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for type, message in messages %}
    <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
{% endif %}
{% endwith %}
