{% extends 'base.html' %}

{% block title %}Library{% endblock %}
{% block body %}
<div class="container d-flex flex-column align-items-center
	justify-content-center h-100 thin-container">
		<img src="{{ url_for('static', filename='img/logo.png') }}" height="72px" width="72px">
		<h1 class="display-1">Library</h1>
		<i>A simple libray management tool</i>

		<a class="btn w-100 btn-lg btn-primary mt-5" href="{{ url_for('signup') }}" role="button">Sign Up</a>
		<a class="btn w-100 btn-lg btn-light mt-1" href="{{ url_for('login') }}" role="button">Login</a>

		<p class="mt-5 mb-3 text-muted">&copy; {{ now.year }}</p>
	</div>
</div>

{% endblock %}
