{% extends 'main.html' %}

{% block title %}Library - Homepage{% endblock %}
{% block container %}

<div class="row">
	<div class="col-xl-6">
		<h3>What are you looking for?</h3>
		<div class="mt-3">
			<form id="searchForm">
				<div class="row mb-3">
					<label for="book" class="col-sm-4 col-form-label">Book Name</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="book" id="book">
					</div>
				</div>

				<div class="row mb-3">
					<label for="author" class="col-sm-4 col-form-label">Author Name</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="author" id="author">
					</div>
				</div>

				<div class="row mb-3">
					<label for="genre" class="col-sm-4 col-form-label">Genre</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="genre" id="genre">
					</div>
				</div>


				<div class="row mb-3">
					<div class="col-sm-8 offset-sm-4">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="available" id="available">
							<label class="form-check-label" for="available">
								Show only available books
							</label>
						</div>
					</div>
				</div>

				<input type="submit" name="submit" value="Search" class="btn btn-primary">
				<input type="button" value="Reset" class="btn btn-secondary" id="searchFormReset">

			</form>
		</div>
	</div>
</div>
<div class="row mt-3">
	<div class="col">
		<h3 class="mb-3">Books</h3>
		<table id="resultsTable" class="table table-striped table-hover">
			<thead>
				<th>Id</th>
				<th>Book Title</th>
				<th>Author</th>
				<th>Genre</th>
				<th>Available</th>
				<th>Actions</th>
			</thead>
		</table>
	</div>
</div>

{% endblock %}
