{% extends 'base.html' %}

{% block body %}

{% include 'navbar.html' %}

<div class="container mt-5 pt-5">

	<div class="row">
		<div class="col">
		    {% include 'flashes.html' %}
		</div>
	</div>

    {% block container %}

    {% endblock %}

</div>

{% endblock %}
