<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="" width="30" height="30" class="">
            Library
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% set links = {
                    'index': 'Home',
                    'bookLoansReport': 'Book Loans',
                    'userLoansReport': 'User Loans',

                } %}
                {% for key, name in links.items() %}
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.endpoint == key else '' }}" href="{{ url_for(key) }}">{{ name }}</a>
                </li>
                {% endfor %}
            </ul>
            <span class="navbar-text me-2">
                Welcome, {{ current_user.username }}!
            </span>
            <a href="{{ url_for('logout') }}" class="btn btn-outline-secondary">Logout</a>
        </div>
    </div>
</nav>
