{% extends 'base.html' %}

{% block title %}Library - Sign up{% endblock %}
{% block body %}

<div class="container text-center d-flex flex-column align-items-center
	justify-content-center h-100">

	<form class="form-signin" method="POST">
		<img src="{{ url_for('static', filename='img/logo.png') }}" height="72" width="72">
		<h1 class="h3 mb-3 fw-normal">Sign up</h1>

		<div class="form-floating">
			<input type="text" class="form-control rounded-0 rounded-top" id="username" name="username"
				placeholder="john.doe">
			<label for="username">Username</label>
		</div>
		<div class="form-floating">
			<input type="password" class="form-control rounded-0" id="password" name="password"
				placeholder="Password">
			<label for="password">Password</label>
		</div>
		<div class="form-floating">
			<input type="email" class="form-control rounded-0" id="email" name="email"
				placeholder="joh.doe@gmail.com">
			<label for="email">Email</label>
		</div>
		<div class="form-floating">
			<input type="text" class="form-control rounded-0" id="firstName" name="firstName"
				placeholder="John">
			<label for="firstName">First name</label>
		</div>
		<div class="form-floating">
			<input type="text" class="form-control rounded-0" id="lastName" name="lastName"
				placeholder="Doe">
			<label for="lastName">Last name</label>
		</div>
		<div class="form-floating">
			<input type="tel" class="form-control rounded-0 rounded-bottom" id="phone" name="phone"
				placeholder="+40 700 000 000">
			<label for="phone">Phone</label>
		</div>

		<button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Sign up</button>
		<a href="{{ url_for('index') }}" class="w-100 btn btn-lg btn-light mt-1">Back</a>
		<p class="mt-5 mb-3 text-muted">&copy; {{ now.year }}</p>
	</form>

</div>

{% endblock %}
