{% extends 'main.html' %}

{% block title %}Library - User Loans{% endblock %}
{% block container %}

<h3 class="mb-3">User Loans</h3>

<table class="table table-striped table-hover" id="userLoansTable">
    <thead>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Loans count</th>
    </thead>
    <tbody>
    {% for row in data %}
        <tr>
        {% for i in range(4) %}
            <td>{{ row[i] }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
